* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.page-title {
  padding-top: 77px;
}
.page-title .wishlist {
  overflow: scroll;
  position: fixed;
  right: 0;
  padding: 10px 15px;
  background-color: #1262AE;
  height: 50%;
  width: 25%;
  display: none;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 40%;
}
.page-title .wishlist .wishlist-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: red;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
}
.page-title .wishlist .wishlist-items .wishlist-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  background-color: red;
  padding: 20px;
  border-radius: 20px;
}
.page-title .wishlist .wishlist-items .buy-button {
  height: 20px;
  width: 50%;
  border: 0;
  outline: 0;
  border-radius: 5px;
}
.page-title .side-menu {
  display: none;
}
.page-title .container {
  width: 100%;
  height: 193px;
  background: url(../images/banner-background.png), url(../images/bannergradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-title .container .title {
  display: flex;
  width: 100%;
  padding: 0px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.page-title .container .title p {
  color: #FFF;
  font-family: Baloo Bhai;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  /* 114.286% */
  letter-spacing: 0.84px;
}
.page-title .container .title .options {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.page-title .container .title .options button {
  padding: 11px 21px;
  border-radius: 27px;
  border: 1px solid white;
  outline: 0;
  background-color: transparent;
  color: white;
}

@media (max-width: 768px) {
  .header .side-nav {
    display: flex !important;
  }
  .page-title {
    padding-top: 0px;
  }
  .page-title .side-menu {
    display: none;
    position: absolute;
    right: 0;
    width: 30%;
    background-color: white;
    transition: all 1 ease-in-out;
  }
  .page-title .side-menu .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .page-title .side-menu .hamburger-menu ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    justify-content: space-between;
  }
}
.hotels {
  display: flex;
  padding: 50px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.hotels .hotel-header {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
}
.hotels .hotel-header .result-count p {
  color: #303030;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
.hotels .hotel-header .hotel-filter p {
  color: #303030;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}
.hotels .hotel-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  gap: 23px;
}
.hotels .hotel-container .show-hotels {
  display: flex;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.hotels .hotel-container .show-hotels .hotels-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 10px;
  background: rgba(18, 98, 175, 0.05);
}
.hotels .hotel-container .show-hotels .hotels-card .hotel-result-details {
  display: flex;
  padding: 15px 12px 15px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
  flex: 1 0 0;
}
.hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
}
.hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .hotel-rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .hotel-rating .hotel-star {
  display: flex;
}
.hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .hotel-rating .hotel-review {
  color: #1262AF;
}
.hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .more-detail-button {
  padding: 10px 15px;
  background-color: #1262AF;
  color: white;
  border-radius: 5px;
}
.hotels .hotel-container .show-map {
  flex-basis: 50%;
}

@media (max-width: 768px) {
  .hotels {
    display: flex;
    padding: 25px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .hotels .hotel-header {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
  }
  .hotels .hotel-header .result-count p {
    color: #303030;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
  }
  .hotels .hotel-header .hotel-filter p {
    color: #303030;
    font-family: Roboto;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
  }
  .hotels .hotel-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    gap: 11.5px;
  }
  .hotels .hotel-container .show-hotels {
    display: flex;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
  .hotels .hotel-container .show-hotels .hotels-card {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 10px;
    background: rgba(18, 98, 175, 0.05);
  }
  .hotels .hotel-container .show-hotels .hotels-card img {
    width: 150px;
    height: 100px;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details {
    display: flex;
    padding: 7.5px 6px 7.5px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15.5px;
    flex: 1 0 0;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    flex: 1 0 0;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .hotel-rating {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .hotel-rating .hotel-star {
    display: flex;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .hotel-rating .hotel-review {
    color: #1262AF;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .more-detail-button {
    padding: 5px 7.5px;
    background-color: #1262AF;
  }
  .hotels .hotel-container .show-map iframe {
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 650px) {
  .hotels {
    display: flex;
    padding: 12.5px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
  }
  .hotels .hotel-header {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
  }
  .hotels .hotel-header .result-count p {
    color: #303030;
    font-family: Roboto;
    font-size: 4.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
  }
  .hotels .hotel-header .hotel-filter p {
    color: #303030;
    font-family: Roboto;
    font-size: 4px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
  }
  .hotels .hotel-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    gap: 5.75px;
  }
  .hotels .hotel-container .show-hotels {
    display: flex;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
  }
  .hotels .hotel-container .show-hotels .hotels-card {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 10px;
    background: rgba(18, 98, 175, 0.05);
  }
  .hotels .hotel-container .show-hotels .hotels-card img {
    width: 75px;
    height: 50px;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details {
    display: flex;
    padding: 7.5px 6px 7.5px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 7.75px;
    flex: 1 0 0;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5px;
    flex: 1 0 0;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .hotel-rating {
    display: flex;
    flex-direction: row;
    gap: 2.5px;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .hotel-rating .hotel-star {
    display: flex;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .hotel-rating .hotel-review {
    color: #1262AF;
  }
  .hotels .hotel-container .show-hotels .hotels-card .hotel-result-details-title-result .more-detail-button {
    padding: 2.5px 3.75px;
    background-color: #1262AF;
  }
  .hotels .hotel-container .show-map iframe {
    float: right;
    width: 50%;
    height: 50%;
  }
}/*# sourceMappingURL=hotelpage.css.map */