* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  height: 77px;
  padding: 22px 80px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  align-self: stretch;
  flex: 1 0 0;
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
}
.header .logo {
  width: 174px;
  height: 33px;
  float: left;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header .navbar .navigation-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
}
.header .navbar .navigation-menu ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.header .navbar .navigation-menu ul .heart-icon {
  padding-left: 6px;
  cursor: pointer;
}
.header .navbar .navigation-menu ul li a {
  font-size: 14px;
}
.header .hamburger-icon {
  display: none;
}

@media (max-width: 768px) {
  .header {
    height: 50px;
    padding: 5.5px 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: relative !important;
  }
  .header .logo {
    width: 87px;
    height: 16.5px;
  }
  .header .navbar {
    display: none;
  }
  .header .hamburger-icon {
    display: block;
    cursor: pointer;
  }
}
.search {
  width: 100%;
  height: 100%;
  align-self: stretch;
  position: relative;
  padding-top: 77px;
}
.search .side-menu {
  display: none;
}
.search .search-background {
  background: url(../images/Background.png), url(../images/bannergradient.png), lightgray 50%/cover no-repeat;
  height: 640px;
}
.search .search-background .search-container {
  display: flex;
  width: 100%;
  height: 640px;
  padding: 0px 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 43px;
  flex-shrink: 0;
}
.search .search-background .search-container .search-title {
  align-self: stretch;
  color: var(--studio-darkmode-allwhite-ffffff, #FFF);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Baloo Bhai;
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: 67px;
  /* 109.836% */
}
.search .search-background .search-container .search-text {
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 133.333% */
}
.search .search-background .search-container .search-form {
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  align-self: stretch;
}
.search .search-background .search-container .search-form .upper-side {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  align-self: stretch;
}
.search .search-background .search-container .search-form .upper-side .form-title {
  display: flex;
  flex-direction: row;
}
.search .search-background .search-container .search-form .upper-side .form-title p {
  color: black;
}
.search .search-background .search-container .search-form .upper-side .search-label {
  display: flex;
  gap: 18px;
}
.search .search-background .search-container .search-form .form-input {
  width: 100%;
}
.search .search-background .search-container .search-form .form-input .inputs {
  display: flex;
  padding: 5px;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex: 1 0 0;
  width: 100%;
}
.search .search-background .search-container .search-form .form-input .inputs legend {
  font-size: 12px;
  letter-spacing: 0.15px;
  font-weight: 400;
}
.search .search-background .search-container .search-form .form-input .inputs .col4 {
  flex-basis: 28%;
  height: 56px;
}
.search .search-background .search-container .search-form .form-input .inputs fieldset {
  display: flex;
  padding: 0 15px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex-direction: column;
  border-radius: 4px;
}
.search .search-background .search-container .search-form .form-input .inputs fieldset input {
  border: 1px solid;
  height: 24px;
  width: 100%;
  outline: 0;
  border: 0;
}
.search .search-background .search-container .search-form .form-input .inputs .search-button {
  display: flex;
  flex-basis: 16%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #F99A0E;
  cursor: pointer;
  height: 56px;
}
.search .search-background .search-container .search-form .form-input .inputs .search-button-text p {
  font-size: 15px;
}

@media (max-width: 768px) {
  .search {
    padding-top: 0px;
  }
  .search .side-menu {
    display: none;
    position: absolute;
    right: 0;
    width: 30%;
    background-color: white;
    transition: all 1 ease-in-out;
  }
  .search .side-menu .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .search .side-menu .hamburger-menu ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    justify-content: space-between;
  }
  .search .search-background .search-container {
    display: flex;
    width: 100%;
    height: 640px;
    padding: 0px 70px;
    flex-direction: column;
    justify-content: center;
    gap: 21.5px;
    flex-shrink: 0;
  }
  .search .search-background .search-container .search-title {
    align-self: stretch;
    color: var(--studio-darkmode-allwhite-ffffff, #FFF);
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Baloo Bhai;
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: 67px;
    /* 109.836% */
  }
  .search .search-background .search-container .search-text {
    align-self: stretch;
    color: #FFF;
    text-align: left;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
  }
  .search .search-background .search-container .search-form {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-self: stretch;
  }
  .search .search-background .search-container .search-form .upper-side {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    align-self: stretch;
  }
  .search .search-background .search-container .search-form .upper-side .form-title {
    display: flex;
    flex-direction: row;
  }
  .search .search-background .search-container .search-form .upper-side .form-title p {
    color: black;
    font-size: 12px;
  }
  .search .search-background .search-container .search-form .upper-side .search-label {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    font-size: 12px;
  }
  .search .search-background .search-container .search-form .form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .search .search-background .search-container .search-form .form-input .inputs {
    display: flex;
    flex-wrap: wrap;
    padding: 2.5px;
    align-items: center;
    text-align: center;
    gap: 5px;
    flex: 1 0 0;
    width: 100%;
  }
  .search .search-background .search-container .search-form .form-input .inputs legend {
    font-size: 6px;
    letter-spacing: 0.15px;
    font-weight: 400;
  }
  .search .search-background .search-container .search-form .form-input .inputs .col4 {
    flex-basis: 100%;
    height: 56px;
  }
  .search .search-background .search-container .search-form .form-input .inputs fieldset {
    display: flex;
    padding: 0 15px 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    flex-direction: column;
    border-radius: 4px;
  }
  .search .search-background .search-container .search-form .form-input .inputs fieldset input {
    border: 1px solid;
    height: 24px;
    width: 100%;
    outline: 0;
    border: 0;
  }
  .search .search-background .search-container .search-form .form-input .inputs .search-button {
    display: flex;
    flex-basis: 100%;
    height: 56px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    background: #F99A0E;
    cursor: pointer;
    height: 28px;
  }
  .search .search-background .search-container .search-form .form-input .inputs .search-button-text p {
    font-size: 8px !important;
    align-items: baseline;
  }
}
@media (max-width: 576px) {
  .search .search-background .search-container {
    display: flex;
    width: 100%;
    height: 640px;
    padding: 0px 70px;
    flex-direction: column;
    justify-content: center;
    gap: 21.5px;
    flex-shrink: 0;
  }
  .search .search-background .search-container .search-title {
    font-size: 36px;
  }
  .search .search-background .search-container .search-text {
    font-size: 12px;
  }
}
.home {
  display: flex;
  width: 100%;
  padding: 0px 80px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 69px;
}
.home .upcoming-flight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.home .upcoming-flight .upcoming-text {
  color: #303030;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
.home .upcoming-flight .recent-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}
.home .upcoming-flight .recent-search .flight-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
}
.home .upcoming-flight .recent-search .flight-container .from-to {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.home .upcoming-flight .recent-search .flight-container .from-to .flight-name {
  color: #1262AE;
  text-align: right;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: capitalize;
  width: 51.273px;
}
.home .upcoming-flight .recent-search .flight-container .plane-icon {
  position: relative;
  color: #1262AE;
}
.home .upcoming-flight .recent-search .flight-container .depart {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.home .upcoming-flight .recent-search .flight-container .flight-info {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.home .upcoming-flight .prepare-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  padding-top: 16px;
}
.home .upcoming-flight .prepare-menu .prepare-text {
  align-self: stretch;
  color: #CECECE;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
.home .upcoming-flight .prepare-menu .trip-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.home .upcoming-flight .prepare-menu .trip-menus .trip-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.home .upcoming-flight .prepare-menu .trip-menus .trip-sections .trip-names {
  color: #8E8E94;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.home .pop-destinations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.home .pop-destinations .destination-titles {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.home .pop-destinations .destination-titles .title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
}
.home .pop-destinations .destination-titles .title-container .plan-text {
  color: #1262AE;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  align-self: stretch;
}
.home .pop-destinations .destination-titles .title-container .recommend-title {
  color: #303030;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  align-self: stretch;
}
.home .pop-destinations .card-container {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  width: 100%;
}
.home .pop-destinations .card-container .col {
  display: flex;
  flex-basis: 25%;
  padding: 0 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.home .pop-destinations .card-container .col .destination-details {
  display: flex;
  width: 100%;
  padding: 8px 12px;
  align-items: flex-start;
}
.home .pop-destinations .card-container .col #paris {
  background: url(../images/ParisImage.png);
  background-size: cover;
  background-position: center;
  height: 182px;
  align-self: stretch;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.home .pop-destinations .card-container .col #paris .destination-name {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  flex: 1 0 0;
}
.home .pop-destinations .card-container .col #paris .from {
  color: #FFF;
  text-align: right;
  right: 0;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  width: 52.532px;
}
.home .pop-destinations .card-container .col #paris .destination-price {
  color: var(--studio-darkmode-allwhite-ffffff, #FFF);
  text-align: right;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  padding-right: 12px;
}
.home .pop-destinations .card-container .col #greece {
  background: url(../images/GreeceImage.png);
  background-size: cover;
  height: 182px;
  align-self: stretch;
  border-radius: 10px;
}
.home .pop-destinations .card-container .col #greece .destination-name {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  flex: 1 0 0;
}
.home .pop-destinations .card-container .col #greece .from {
  color: #FFF;
  text-align: right;
  right: 0;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  width: 52.532px;
}
.home .pop-destinations .card-container .col #greece .destination-price {
  color: var(--studio-darkmode-allwhite-ffffff, #FFF);
  text-align: right;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  padding-right: 12px;
}
.home .pop-destinations .card-container .col #norway {
  background: url(../images/NorwayImage.png);
  background-size: cover;
  height: 182px;
  align-self: stretch;
  border-radius: 10px;
}
.home .pop-destinations .card-container .col #norway .destination-name {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  flex: 1 0 0;
}
.home .pop-destinations .card-container .col #norway .from {
  color: #FFF;
  text-align: right;
  right: 0;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  width: 52.532px;
}
.home .pop-destinations .card-container .col #norway .destination-price {
  color: var(--studio-darkmode-allwhite-ffffff, #FFF);
  text-align: right;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  padding-right: 12px;
}
.home .pop-destinations .card-container .col #tuscany {
  background: url(../images/TuscanyImage.png);
  background-size: cover;
  height: 182px;
  align-self: stretch;
  border-radius: 10px;
}
.home .pop-destinations .card-container .col #tuscany .destination-name {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  flex: 1 0 0;
}
.home .pop-destinations .card-container .col #tuscany .from {
  color: #FFF;
  text-align: right;
  right: 0;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  width: 52.532px;
}
.home .pop-destinations .card-container .col #tuscany .destination-price {
  color: var(--studio-darkmode-allwhite-ffffff, #FFF);
  text-align: right;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  padding-right: 12px;
}
.home .pop-destinations .card-container .col:hover {
  transform: scale(1.1);
}
.home .recommend-holidays {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.home .recommend-holidays .holidays-titles {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.home .recommend-holidays .holidays-titles .holidays-title {
  color: #303030;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  flex: 1 0 0;
}
.home .recommend-holidays .holiday-card-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.home .recommend-holidays .holiday-card-container .holiday-col {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  transition: 0.5s ease-in-out;
}
.home .recommend-holidays .holiday-card-container .holiday-col .holiday-details {
  display: flex;
  padding: 20px 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #EAEAEA;
  background: #FFF;
}
.home .recommend-holidays .holiday-card-container .holiday-col .holiday-details .holiday-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  flex: 1 0 0;
}
.home .recommend-holidays .holiday-card-container .holiday-col .holiday-details .holiday-name .country-name {
  color: #424242;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
}
.home .recommend-holidays .holiday-card-container .holiday-col .holiday-details .holiday-name .country-code {
  color: #999;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  align-self: stretch;
}
.home .recommend-holidays .holiday-card-container .holiday-col .holiday-details .holiday-price {
  color: #1262AF;
  text-align: right;
  font-family: Baloo Bhai;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* 106.25% */
}
.home .recommend-holidays .holiday-col:hover {
  transform: scale(1.1);
}
.home .popular-stays {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 100%;
}
.home .popular-stays .stays-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.home .popular-stays .stays-header .stays-title {
  height: 35px;
  flex: 1 0 0;
}
.home .popular-stays .stays-header .stays-title p {
  color: #303030;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  width: 100%;
}
.home .popular-stays .stays-header .stays-button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-radius: 31px;
  background: #FFF;
  cursor: pointer;
}
.home .popular-stays .stays-header .stays-button p {
  color: #1262AE;
  text-align: right;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}
.home .popular-stays .stays-header .stays-button .button-icon {
  width: 24px;
  height: 24px;
}
.home .popular-stays .hotel-cards {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.home .popular-stays .hotel-cards .hotel-col {
  display: flex;
  padding: 0px 12px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  flex-basis: 25%;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card {
  display: flex;
  padding: 15px 13px;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  background: #FFF;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 11px;
  align-self: stretch;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row .hotel-description {
  color: #8E8E94;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  align-self: stretch;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row .hotel-name {
  color: #303030;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.88px;
  text-transform: capitalize;
  align-self: stretch;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row .hotel-price {
  color: #303030;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  align-self: stretch;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details .video-button video {
  display: flex;
  width: 25px;
  height: 25px;
  padding: 0.725px;
  justify-content: center;
  align-items: center;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details .video-button video .video-play {
  width: 23.551px;
  height: 23.551px;
  flex-shrink: 0;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating {
  height: 19px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-review {
  color: #1262AF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  max-width: 216.267px;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-star {
  width: 44.38px;
  height: 19px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-star .star-point {
  color: #303030;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-star .star {
  width: 16.676px;
  height: 17.189px;
  flex-shrink: 0;
  color: #FDBF00;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button {
  display: flex;
  height: 46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #CCDCEC;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button p {
  color: #1262AF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button:hover {
  background-color: #1262AF;
}
.home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button:hover p {
  color: white;
}

@media (max-width: 768px) {
  .home {
    display: flex;
    width: 100%;
    padding: 0px 40px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 34.5px;
  }
  .home .upcoming-flight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  .home .upcoming-flight .upcoming-text {
    color: #303030;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
  }
  .home .upcoming-flight .recent-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  .home .upcoming-flight .recent-search .flight-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
  }
  .home .upcoming-flight .recent-search .flight-container .from-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .home .upcoming-flight .recent-search .flight-container .from-to .flight-name {
    color: #1262AE;
    text-align: right;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    text-transform: capitalize;
    width: 51.273px;
  }
  .home .upcoming-flight .recent-search .flight-container .plane-icon {
    position: relative;
    color: #1262AE;
  }
  .home .upcoming-flight .recent-search .flight-container .depart {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: capitalize;
  }
  .home .upcoming-flight .recent-search .flight-container .flight-info {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: capitalize;
  }
  .home .upcoming-flight .prepare-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    align-self: stretch;
    padding-top: 12px;
  }
  .home .upcoming-flight .prepare-menu .prepare-text {
    text-align: center;
    align-self: stretch;
    color: #CECECE;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
  }
  .home .upcoming-flight .prepare-menu .trip-menus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
  .home .upcoming-flight .prepare-menu .trip-menus .trip-sections {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  .home .upcoming-flight .prepare-menu .trip-menus .trip-sections .trip-names {
    text-align: center;
    color: #8E8E94;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
  }
  .home .pop-destinations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }
  .home .pop-destinations .destination-titles {
    display: flex;
    align-items: center;
    align-self: stretch;
  }
  .home .pop-destinations .destination-titles .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
  }
  .home .pop-destinations .destination-titles .title-container .plan-text {
    text-align: center;
    color: #1262AE;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    align-self: stretch;
  }
  .home .pop-destinations .destination-titles .title-container .recommend-title {
    text-align: center;
    color: #303030;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    align-self: stretch;
  }
  .home .pop-destinations .card-container {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  .home .pop-destinations .card-container .col {
    display: flex;
    flex-basis: 100%;
    padding: 0 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    align-self: stretch;
  }
  .home .pop-destinations .card-container .col .destination-details {
    display: flex;
    width: 100%;
    padding: 8px 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .home .pop-destinations .card-container .col #paris {
    background: url(../images/ParisImage.png);
    background-size: cover;
    background-position: center;
    height: 182px;
    align-self: stretch;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home .pop-destinations .card-container .col #paris .destination-name {
    display: block;
    color: #FFF;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    flex: 1 0 0;
    align-self: stretch;
    text-align: center;
    align-items: center;
  }
  .home .pop-destinations .card-container .col #paris .show {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home .pop-destinations .card-container .col #paris .show .from {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    width: 52.532px;
  }
  .home .pop-destinations .card-container .col #paris .show .destination-price {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    padding-right: 0;
    align-self: stretch;
    width: 200px;
    align-items: center;
  }
  .home .pop-destinations .card-container .col #greece {
    background: url(../images/GreeceImage.png);
    background-size: cover;
    height: 182px;
    align-self: stretch;
    border-radius: 10px;
  }
  .home .pop-destinations .card-container .col #greece .show {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home .pop-destinations .card-container .col #greece .show .from {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    width: 52.532px;
  }
  .home .pop-destinations .card-container .col #greece .show .destination-price {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    padding-right: 0;
    align-self: stretch;
    width: 200px;
    align-items: center;
  }
  .home .pop-destinations .card-container .col #norway {
    background: url(../images/NorwayImage.png);
    background-size: cover;
    height: 182px;
    align-self: stretch;
    border-radius: 10px;
  }
  .home .pop-destinations .card-container .col #norway .show {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home .pop-destinations .card-container .col #norway .show .from {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    width: 52.532px;
  }
  .home .pop-destinations .card-container .col #norway .show .destination-price {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    padding-right: 0;
    align-self: stretch;
    width: 200px;
    align-items: center;
  }
  .home .pop-destinations .card-container .col #tuscany {
    background: url(../images/TuscanyImage.png);
    background-size: cover;
    height: 182px;
    align-self: stretch;
    border-radius: 10px;
    align-self: stretch;
  }
  .home .pop-destinations .card-container .col #tuscany .show {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home .pop-destinations .card-container .col #tuscany .show .from {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    width: 52.532px;
  }
  .home .pop-destinations .card-container .col #tuscany .show .destination-price {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    padding-right: 0;
    align-self: stretch;
    width: 200px;
    align-items: center;
  }
  .home .pop-destinations .card-container .col:hover {
    transform: scale(1.1);
  }
  .home .recommend-holidays {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
  }
  .home .recommend-holidays .holidays-titles {
    display: flex;
    text-align: center;
    align-items: center;
    align-self: stretch;
  }
  .home .recommend-holidays .holidays-titles .holidays-title {
    color: #303030;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    flex: 1 0 0;
  }
  .home .recommend-holidays .holiday-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    width: 100%;
  }
  .home .recommend-holidays .holiday-card-container .holiday-col {
    display: flex;
    padding: 0px 8px;
    flex-basis: 40%;
    flex-direction: column;
    align-items: center;
    flex: 1 1 1 1;
    transition: 0.5s ease-in-out;
  }
  .home .recommend-holidays .holiday-card-container .holiday-col .holiday-details {
    display: flex;
    padding: 20px 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #EAEAEA;
    background: #FFF;
  }
  .home .recommend-holidays .holiday-card-container .holiday-col .holiday-details .holiday-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    flex: 1 0 0;
  }
  .home .recommend-holidays .holiday-card-container .holiday-col .holiday-details .holiday-name .country-name {
    color: #424242;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
  }
  .home .recommend-holidays .holiday-card-container .holiday-col .holiday-details .holiday-name .country-code {
    color: #999;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    align-self: stretch;
  }
  .home .recommend-holidays .holiday-card-container .holiday-col .holiday-details .holiday-price {
    color: #1262AF;
    text-align: right;
    font-family: Baloo Bhai;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
  }
  .home .recommend-holidays .holiday-col:hover {
    transform: scale(1.1);
  }
  .home .popular-stays {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    width: 100%;
  }
  .home .popular-stays .stays-header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }
  .home .popular-stays .stays-header .stays-title {
    height: 24px;
    flex: 1 0 0;
  }
  .home .popular-stays .stays-header .stays-title p {
    color: #303030;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    width: 100%;
  }
  .home .popular-stays .stays-header .stays-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 31px;
    background: #FFF;
    cursor: pointer;
  }
  .home .popular-stays .stays-header .stays-button p {
    color: #1262AE;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: center;
  }
  .home .popular-stays .stays-header .stays-button .button-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
  }
  .home .popular-stays .hotel-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    flex: 1 0 0 0;
    gap: 10px;
  }
  .home .popular-stays .hotel-cards .hotel-col {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    flex-basis: 45%;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card {
    display: flex;
    padding: 12px 10px;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
    background: #FFF;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    flex: 1 0 0;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row .hotel-description {
    color: #8E8E94;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    align-self: stretch;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row .hotel-name {
    color: #303030;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.88px;
    text-transform: capitalize;
    align-self: stretch;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details-row .hotel-price {
    color: #303030;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
    align-self: stretch;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details .video-button video {
    display: flex;
    width: 25px;
    height: 25px;
    padding: 0.725px;
    justify-content: center;
    align-items: center;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-details .video-button video .video-play {
    width: 23.551px;
    height: 23.551px;
    flex-shrink: 0;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating {
    height: 19px;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-review {
    color: #1262AF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    max-width: 216.267px;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-star {
    width: 44.38px;
    height: 19px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-star .star-point {
    color: #303030;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.64px;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .hotel-rating .hotel-star .star {
    width: 16.676px;
    height: 17.189px;
    flex-shrink: 0;
    color: #FDBF00;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button {
    display: flex;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #CCDCEC;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button p {
    color: #1262AF;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button:hover {
    background-color: #1262AF;
  }
  .home .popular-stays .hotel-cards .hotel-col .hotel-card .more-detail-button:hover p {
    color: white;
  }
}
.footer {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.footer .subscribe {
  width: 100%;
  height: 530px;
  flex-shrink: 0;
  background: url(../images/subscription.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .subscribe .subscribe-box {
  display: flex;
  width: 549px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer .subscribe .subscribe-box .form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  align-self: stretch;
}
.footer .subscribe .subscribe-box .form-header .first-text {
  color: #1262AE;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  align-self: stretch;
}
.footer .subscribe .subscribe-box .form-header .second-text {
  color: #434343;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer .subscribe .subscribe-box .subscribe-form {
  display: flex;
  padding: 28px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.03);
}
.footer .subscribe .subscribe-box .subscribe-form .form-text {
  color: #576074;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.footer .subscribe .subscribe-box .subscribe-form .form-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.footer .subscribe .subscribe-box .subscribe-form .form-fields .name-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  align-self: stretch;
  border: 1px solid rgba(0, 0, 0, 0.23);
  height: 56px;
  border-radius: 4px;
  padding: 16px 12px;
}
.footer .subscribe .subscribe-box .subscribe-form .form-fields .name-field input {
  display: flex;
  justify-content: center;
  outline: 0;
  border: 0;
}
.footer .subscribe .subscribe-box .subscribe-form .form-fields .mail-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  align-self: stretch;
  border: 1px solid rgba(0, 0, 0, 0.23);
  height: 56px;
  border-radius: 4px;
  padding: 16px 12px;
}
.footer .subscribe .subscribe-box .subscribe-form .form-fields .mail-field input {
  display: flex;
  justify-content: center;
  outline: 0;
  border: 0;
}
.footer .subscribe .subscribe-box .subscribe-form .submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 56px;
  width: 164px;
  border-radius: 4px;
  background-color: #F99A0E;
}
.footer .subscribe .subscribe-box .subscribe-form .submit-button p {
  color: var(--primary-contrast, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}
.footer .footer-end {
  display: flex;
  padding: 33px 84px;
  align-items: flex-start;
  gap: 44px;
  align-self: stretch;
  background: linear-gradient(92deg, #0B5BA8 30.91%, #299BD8 100.98%);
}
.footer .footer-end .bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  flex: 1 0 0;
}
.footer .footer-end .bio img {
  width: 174px;
  height: 33px;
}
.footer .footer-end .bio .bio-text {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 150% */
}
.footer .footer-end .bio .social-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.footer .footer-end .bio .social-icon img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.footer .footer-end .bio::after {
  content: "";
  background: red;
  width: 1px;
  height: 132px;
  position: absolute;
  display: block;
  left: 50%;
}
.footer .footer-end .links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
}
.footer .footer-end .links .company, .footer .footer-end .links .support, .footer .footer-end .links .more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 33%;
  height: 100%;
}
.footer .footer-end .links .company .link-title, .footer .footer-end .links .support .link-title, .footer .footer-end .links .more .link-title {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 20px;
}
.footer .footer-end .links .company .link, .footer .footer-end .links .support .link, .footer .footer-end .links .more .link {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }
  .footer .subscribe {
    width: 100%;
    height: 530px;
    flex-shrink: 0;
    background: url(../images/subscription.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .subscribe .subscribe-box {
    display: flex;
    width: 549px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 30px;
  }
  .footer .subscribe .subscribe-box .form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    align-self: stretch;
  }
  .footer .subscribe .subscribe-box .form-header .first-text {
    color: #1262AE;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    align-self: stretch;
  }
  .footer .subscribe .subscribe-box .form-header .second-text {
    color: #434343;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer .subscribe .subscribe-box .subscribe-form {
    display: flex;
    padding: 28px 30px;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.03);
  }
  .footer .subscribe .subscribe-box .subscribe-form .form-text {
    color: #576074;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
  }
  .footer .subscribe .subscribe-box .subscribe-form .form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .footer .subscribe .subscribe-box .subscribe-form .form-fields .name-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    align-self: stretch;
    border: 1px solid rgba(0, 0, 0, 0.23);
    height: 46px;
    border-radius: 4px;
    padding: 14px 10px;
  }
  .footer .subscribe .subscribe-box .subscribe-form .form-fields .name-field input {
    display: flex;
    justify-content: center;
    outline: 0;
    border: 0;
  }
  .footer .subscribe .subscribe-box .subscribe-form .form-fields .mail-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    align-self: stretch;
    border: 1px solid rgba(0, 0, 0, 0.23);
    height: 46px;
    border-radius: 4px;
    padding: 14px 10px;
  }
  .footer .subscribe .subscribe-box .subscribe-form .form-fields .mail-field input {
    display: flex;
    justify-content: center;
    outline: 0;
    border: 0;
  }
  .footer .subscribe .subscribe-box .subscribe-form .submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 46px;
    width: 138px;
    border-radius: 4px;
    background-color: #F99A0E;
  }
  .footer .subscribe .subscribe-box .subscribe-form .submit-button p {
    color: var(--primary-contrast, #FFF);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
  }
  .footer-end {
    display: flex;
    flex-direction: column;
    padding: 33px 84px;
    align-items: center;
    justify-content: center;
    gap: 44px;
    align-self: stretch;
    background: linear-gradient(92deg, #0B5BA8 30.91%, #299BD8 100.98%);
  }
  .footer-end .bio {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    text-align: center;
    gap: 14px;
  }
  .footer-end .bio img {
    text-align: center;
    width: 174px;
    height: 33px;
  }
  .footer-end .bio .bio-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }
  .footer-end .bio .social-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .footer-end .bio .social-icon img {
    align-items: center;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
  .footer-end .links {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: row;
    width: 100%;
  }
  .footer-end .links .company, .footer-end .links .support, .footer-end .links .more {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-basis: 33%;
    height: 100%;
  }
  .footer-end .links .company .link-title, .footer-end .links .support .link-title, .footer-end .links .more .link-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 20px;
  }
  .footer-end .links .company .link, .footer-end .links .support .link, .footer-end .links .more .link {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
  }
}/*# sourceMappingURL=index.css.map */