* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}



// ---------------------- Header section

.header {

    display: flex;
    height: 77px;
    padding: 22px 80px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    align-self: stretch;
    flex: 1 0 0;
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 100%;

    .logo {

        width: 174px;
        height: 33px;
        float: left;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;



        .navigation-menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 36px;

            ul {
                display: flex;
                flex-direction: row;
                gap: 30px;

                .heart-icon {
                    padding-left: 6px;
                    cursor: pointer;
                }

                li a {
                    font-size: 14px;
                }
            }
        }

        // }
    }

    .hamburger-icon {
        display: none;
    }


}

@media(max-width: 768px) {
    .header {
        height: 50px;
        padding: 5.5px 20px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        position: relative !important;

        .logo {
            width: 87px;
            height: 16.5px;
        }

        .navbar {
            display: none;
        }

        .hamburger-icon {
            display: block;
            cursor: pointer;
        }

    }
}



.search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    &-container{
        
    }
}